<!-- <div>
    <a href="#!/home">Home</a>
    <a href="#!/laptops">Laptops</a>
    <a href="#!/blogs">Blogs</a>
    <a href="#!/phones">Phones</a>
</div> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!/home"><img
                src="https://cdn.theforage.com/vinternships/companyassets/m7GusTmDpDcGMcp28/a7QBYATxBtRiExiZ8/1625078690042/DEL_SEC_RGB_aw%20(White%20Logo)v2.png"
                height="22px" alt="Deloitte"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#!/blogs">All Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/blog/{{randomBlogId}}">Random Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/write">Write Blog</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="#!/laptops">Laptops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/phones">Phones</a>
                </li> -->

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" ng-model="blogId" placeholder="Search a blog...">
                <button class="btn btn-outline-primary" type="submit" ng-click="searchBlogById(blogId)">Search</button>
            </form>
        </div>
    </div>
</nav>