
<div class="container">

    <div class="row  pt-3 mt-3">
        <div class="col-2">

        </div>
        <div class="col-8">
            <p class="display-1 text-primary text-center">Deloitte Blog List</p>
            <hr />
            <div ng-repeat="blog in blogData">
                <a ng-href="#!/blog/{{blog.id}}">{{blog.title}}</a>
                <p></p>
            </div>
        </div>
        <div class="col-2">

        </div>

    </div>


    <!-- <div>
        <h2>Search a blog by Id</h2>
        <input type="number" ng-model="blogId">
        <input type="button" ng-click="searchBlogById()" value="Search a Blog">
    </div>

    <div>
        <img ng-if="currentBlog.title" src="https://picsum.photos/900/400">
        <h4>{{currentBlog.title}}</h4>
        <span ng-repeat="elem in currentBlog.title.split(' ')">
            <span ng-repeat="elem in currentBlog.title.split(' ')">
                <span>{{currentBlog.body }} </span>
            </span> </span>
        </span>
    </div> -->

    <!-- <div>
        <h2>Search all blogs</h2>
        <input type="button" ng-click="searchAllBlogs()" value="Search all Blogs">
    </div>

    <div ng-repeat="blog in blogData">
        <p> {{blog.title}} </p>
        <p></p>
    </div> -->

    <!-- <div>
    <h1>Blog List</h1>
    <h2>Search a blog by Id</h2>
    <input type="number" ng-model="blogId">
    <input type="button" ng-click="searchBlogById()" value="Search a Blog">
    <div>
        <img ng-if="currentBlog.title" src="https://picsum.photos/900/400">
        <h4>{{currentBlog.title}}</h4>
        <p>{{currentBlog.body}}</p>
    </div>

    <h2>This is all the blogs list</h2>
    <input type="button" ng-click="searchAllBlogs()" value="Search all Blogs">


    <div ng-repeat="blog in blogData">
        <h4> {{blog.title}} </h4>
        <p> {{blog.body}} </p>
        <p></p>
    </div>

</div> -->